/* Top navigation panel styles */
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #343d46;
  color: #c0c5ce;
}
ul.topnav li {
  float: left;
}
ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul.topnav li a:hover {
  background-color: #c0c5ce;
  color: #343d46;
}
ul.topnav li.rightli{
  float:right
}