{% extends 'base.html' %}
{% block head %}<link rel="stylesheet" href="../static/styles.css">
<link rel="stylesheet" href="static/main.css">{% endblock %}
{% block title %}Register{% endblock %}

{% block body %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Register">
  </form>
{% endblock %}