{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="../static/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="../static/css/styles.css">
{% endblock %}
{% block title %}Register{% endblock %}

{% block body %}
    <section class="register-photo">
        <div class="form-container">
            <div class="image-holder"></div>
            <form method="post">
                <h2 class="text-center">Request <strong>access</strong> to the interface.</h2>
                <div class="mb-3"><input class="form-control" type="username" name="username" placeholder="Username"></div>
                <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password"></div>
                <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Leave request</button></div>
                <a class="already" href="auth/login">You already have an account? Login here.</a>
            </form>
        </div>
    </section>
{% for message in get_flashed_messages() %}
    <p class=message style = >{{ message }}
{% endfor %}
{% endblock %}